/*----------  Paths  ----------*/
	$image-path: "../images/";

/*----------  Fonts  ----------*/
    @import url('https://fonts.googleapis.com/css?family=Roboto');

    $font-roboto: 'Roboto', sans-serif;
/*----------  Colors  ----------*/
    $not-color: transparent;
	$color-black: #000;
	$color-white: #FFF;

    $color-gulp: #CF4647;


/*----------  Dimensoes  ----------*/
$screen-mobile: 700px; /* Mobile */
$screen-desktop: 1200px; /* Desktop */


/*----------  Extends  ----------*/
%hide-text {

    text-indent: -9000em;
    font-size: 0;
    line-height: 0;
}

/*----------  Funcoes  ----------*/
@function pxtoem($target, $context : 16) {
    
 	@return ($target/$context)+0em;
}