@charset "UTF-8";

@import "config";


/*----------  Componentes  ----------*/
@import "components/header";
@import "components/oque-gulp";
@import "components/who-am-i";


/*----------  Reset  ----------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }

body { font-family: $font-roboto; }


/*----------  Estrutura  ----------*/
.master-content {

    min-height: 100%;
	padding-top: 75px;

    &:after {
  		content: "";
  		display: block;
  		height: pxtoem(50);
	}
}

.content {

   /*Desktop*/
   @media (min-width: $screen-mobile + 1px) {

		max-width: $screen-desktop;
		margin: 0 auto;
	}

	/*Mobile*/
	@media (max-width: $screen-mobile) { margin: 0 3%; }
}

article { 
	padding: 3% 0; 

	a{
		color: $color-link;
		text-decoration: underline;

		&:hover{ text-decoration: none; }
	}
}

h4 {

    font-size: pxtoem(35);
	line-height: 50px;
	color: $color-gulp;
}

h5{
	font-size: pxtoem(25);
	line-height: 40px;
	margin: 2% 0;
	color: $color-gulp-light;
}

p{
	font-size: pxtoem(16);
	line-height: 35px;
	margin: 1% 0;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 1px solid #dcd4d4;
	padding: 2%;
	vertical-align: top;
}

code {
	background-color: $color-black;
	display: flex;
	color: $color-white;
	padding: 0.5% 5%;
	line-height: 25px;
}

ul{
	list-style-position: inside;
	font-size: pxtoem(18);
	line-height: 30px;
}

li{ margin: 1.5% 0; }